/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-snackbar {
  background: rgb(65, 252, 134);
  color: white;
}
.green-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}
.red-snackbar {
  background: #F44336;
  color: white;
}
.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}
